
body::before { /*Es para que solo afecte al fondo de la app*/
    content: "";
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1; /*pone la imagen en la capa -1*/
    font-size: 14px;
    background-image: url('fondoYogur.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
header{
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(134, 76, 220);
}
#titulo0{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

body nav ul {
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    display:flex;
    align-items: center;
    justify-content: center;
}

body nav ul li {
    display: inline-block; /* Muestra los elementos de la lista en línea en la misma fila */
    margin-right: 20px; /* Añade espacio entre los elementos de la lista */
    padding: 10px;
}

body nav ul li a {
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
}

#div0{
    height: 30vh;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: rgba(134, 76, 220, 0.495);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180%;
}
a{color:aliceblue}
#inicio-sesion{color: aliceblue;}
fieldset{
    padding: 10px;
    background-color: #f0f0f086;
    border-radius: 10px;
    margin-bottom: 10px;
}
legend{
    font-size: 180%;
    font-weight: bold;
    color: #555;
}
#div4{
    padding: 10px;
    background-color: #f0f0f086; 
}


.combo-general div {
    width: 30%; /* Ajusta el ancho de cada caja según tus necesidades */
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
}

.combo-general input[type="radio"] {
    margin-bottom: 5px;
}

/* Colores de las cajas */
.combo-general div:nth-child(odd) {
    background-color: rgba(160, 197, 231, 0.482);
}

.combo-container div:nth-child(even) {
    background-color:rgba(77, 128, 176, 0.482);
}